html {

  background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
}


@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
}

* {
   font-family: 'Noto Sans', sans-serif;
}
.pad {
  padding-left: 0;
  padding-right: 0;


  background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
}

.bg {
  padding: 50px 0px;
  min-height: 1600px;
  background: rgb(100%, 100%, 100%, 0);
  
  position: relative;  
  padding-left: 1.3%;
  left: 0%;
}



.container-fluid .col-xs-2 div.box {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  margin: 10px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width:90%; 
  background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
  box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 6px 6px 28px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  min-width: 200px;
  max-width: 230px;
}

.col-xs-2 {
 
    font-family: 'Noto Sans', sans-serif;
}
.col-xs-1{
 width: 2.5%;
 padding-top: 5px;
 height: 30px;
}

.field{
  background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
  border-radius: 40px;
}

.drag-1,
.drag-2,
.drag-3,
.drag-4 {
}

.form-control {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  border-radius: 0;
}
.gwe {
  border: none;
}
.btn {
  margin-top: 20px;
  border-radius: 0;
}
img {
  margin: 0 auto;
 
}

 hr.separator{
    border: 0;
    height: 1px;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #01adff 52.08%, rgba(0, 0, 0, 0) 100%);
    border-color: #2081a1;
    margin: 1px 1px;
 }

.header {
  max-width: 300px;
  min-width: 250px;
   font-size: 1em;
  padding-top: 5px;
  height: 30px;
  text-align: left;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  top: 20px;
  color:#9AA5B1;
  width: 13%;
}

.header img{
  height: 50px;
  width: 50px;
}

.white {
  top: 60px;
  text-align: center;
  background: linear-gradient(278.93deg, #23272B 14.36%, #17191C 94%);
  box-shadow: 19px 51px 148px rgba(2, 2, 2, 0.85);
  border-radius: 0px 40px 40px 0px;
  height: 480px;
  width: 200px;
}

.neumorphism-toggle {
padding-top: 12px;
padding-bottom: 12px;
}



input.toggle-round {
  display:none;
}

input.toggle-round + label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 17px;
  background: #5F5F5F;
  box-shadow: 1px 3px 7px -2px rgba(0, 178, 255, 0.2), inset 2px 2px 8px rgba(255, 255, 255, 0.6);
  border-radius: 30px;
}

input.toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
  top: 1px;
  width: 15px; height: 15px;
  background: #272B30;
  box-shadow: inset 0px -1px 1px #181A1D;
  border-radius: 100%;
  transition: margin 0.5s;
}

input.toggle-round:checked + label {
  background: #00B2FF;
  box-shadow: 1px 3px 7px -2px rgba(0, 178, 255, 0.2), inset 2px 2px 8px rgba(255, 255, 255, 0.6);
  border-radius: 30px;

}
input.toggle-round:checked + label:after {
  margin-left: 14px;
}

input + label span {
   line-height: 22px;
   font-size: 12px;
   top: 0px;
   left: 50px;
   color: var(--text, #fff);
  font-family: 'Noto Sans', sans-serif;
   font-weight: 600;
   display: inline-block;
   vertical-align: top;
   z-index: 1;
   position: relative;
   margin-left: 12px;
   transition: color 0.4s;
}

input + label + span {
   text-align: center;
   display: block;
   position: absolute;
   left: 0px;
   right: 0;
   top: 100%;
   opacity: 0;
   font-size: 12px;
   font-weight: 500;
   color: #9AA5B1;
   transform: translateY(4px);
   transition: opacity 0.4s, transform 0.4s;
}

.white .form-control {
  margin-top: 0;
}

.white .input-label {
  margin-top: 30px;
  text-align: center;
}

.box{
  width: 90%;
  min-height: 100px;
  color: #9AA5B1;
  background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
  box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 6px 6px 28px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.bg .active {
 left: 10%
}

li {
  color: #01b9ff; /* Цвет маркеров */
  text-align: left;
  font-size: 17px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
    
}

li span {
  color: #9AA5B1; /* Цвет текста */
  font-size: 0.7em;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
    text-align:  center;

}

ul.rol li{
  list-style-image: url('rol.png');
  text-align:  center;

}
ul.ide li{
  list-style-image: url('ide.png');
  text-align:  center;
}
ul.ins li {
  list-style-image: url('ins.png');
  text-align:  center;

}

.inbox{
width: 100%;
padding: 10% 10% 10% 10%;
}


.box .inbox .task-name {
  font-size: 1.3em;
  font-weight: bold;
  color: #D6E1EF
}

hr{
  border-color: #2081a1; 
  margin: 1px 1px;
}

a{
  text-align: center;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
input.toggle-round + label:hover{
 box-shadow: -4px -4px 16px rgba(195, 200, 205, 0.06),6px 6px  20px rgba(0, 0, 0, 0.6); 
}


.button {
    position:absolute;
    bottom:0;
    left: 0;
    filter: blur(0px);
 
    box-shadow: -4px -4px 16px rgba(195, 200, 205, 0.06), 4px 4px 18px rgba(0, 0, 0, 0.6);
    border-radius: 33px;
    background-image: url("sun.png");
    background-repeat: no-repeat;
    background-position: center;
}

.button:hover {
 box-shadow: -4px -4px 16px rgba(195, 200, 205, 0.06),8px 8px  22px rgba(0, 0, 0, 0.8);
}
a.button1:hover {
 box-shadow: -4px -4px 16px rgba(195, 200, 205, 0.06),6px 6px  20px rgba(0, 0, 0, 0.6);
}
a.button2:hover {
 box-shadow: -4px -4px 16px rgba(195, 200, 205, 0.06),6px 6px  20px rgba(0, 0, 0, 0.6);
}



a.button1{
  text-align: center;
  display: inline-block;
  font-weight: 600;
  outline: none;
  border: 2px ;
  width:100%;
  color: #9AA5B1;
  background: radial-gradient(51.95% 152.6% at 26.24% -102.6%, 
    rgba(47, 180, 233, 0.32) 0%, rgba(53, 149, 238, 0) 100%), 
    linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
  box-shadow: -4px -2px 16px rgba(195, 200, 205, 0.09), 4px 4px 18px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}


a.button2{
  display: inline-block;
  outline: none;
  width:100%;
  color: #9AA5B1;
  border: 2px;
  background: radial-gradient(51.95% 152.6% at 26.24% -102.6%, #2FB4E9 0%, rgba(58, 184, 248, 0.317708) 68.23%, rgba(64, 186, 255, 0) 100%), linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
  box-shadow: 0px 0px 18px 4px rgba(0, 194, 255, 0.2);
  border-radius: 16px;
}

a.button3{
  width: 138px;
height: 36px;
left: 89px;
top: 537px;
  color: #FFF;

background: radial-gradient(51.95% 152.6% at 26.24% -102.6%, rgba(47, 180, 233, 0.32) 0%, rgba(53, 149, 238, 0) 100%), linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
box-shadow: -4px -2px 16px rgba(195, 200, 205, 0.09), 4px 4px 18px rgba(0, 0, 0, 0.5);
border-radius: 16px;
}


.inside_button1{
  position: relative;
  left: 4px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  height: 95%;
  width: 95%;
 
box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.1), inset 2px 2px 2px rgba(26, 32, 38, 0.4);
border-radius: 12px;
}
.inside_button2{
  position: relative;
  left: 4px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  height: 95%;
  width: 95%;
 
box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.1), inset 2px 2px 2px rgba(26, 32, 38, 0.4);
border-radius: 12px;
}



input[type="checkbox"] {
  margin-left: 2%;
  border: #000;
  color: #fff;
  background: #fff;
  border-radius: none;
}


.accordion {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: rgb(100%, 100%, 100%, 0);
}

.accordion-header {
  top: -20%;
  padding: 6% 0%;
  background: rgb(100%, 100%, 100%, 0);
  color: #9AA5B1;
  cursor: pointer;
  letter-spacing: .1em;
  font-family: 'Noto Sans', sans-serif;
  transition: all .3s;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
}

.accordion-header:hover {  
  background: rgb(100%, 100%, 100%, 0);
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: rgb(100%, 100%, 100%, 0);
  color: #9AA5B1;
  display: block;
}

.accordion-body__contents-id1, .accordion-body__contents-id3, .accordion-body__contents-id4,
.accordion-body__contents-id5, .accordion-body__contents-id6, .accordion-body__contents-id7 {
  padding: 10% 0% 19% 0%;
    font-size: 1.3em;
    color: #9AA5B1;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}

.accordion-body__contents-id2 {
  width: 100%;
}


.accordion-body__contents-id1.active {

  font-size: 1.5em;  
  font-family: 'Noto Sans', sans-serif;
  color: #9AA5B1;
  width: 100%;

}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  background: url('arrow.png');     content : '';
  background-size: 40px 40px; 
  width: 40px; height: 40px; 
  float: right;
  position: relative;
  top: -12px;
  transition: .3s all;
  transform: rotate(0deg);
left: 1%;
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);

}

.accordion__item.active .accordion-header {
  background: rgb(100%, 100%, 100%, 0);
}

.accordion__item .accordion__item .accordion-header {
  background: rgb(100%, 100%, 100%, 0);
  color: #9AA5B1;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  
  .accordion {
    width: 100%;
  }
}

.theme-toggle{
  transition:0.75s;
  width:50px;
  height:50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius:10px;
  display:flex;
  margin:10px;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
.mover{
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  height: 72px;
  padding-top:0px;
  padding-bottom:10px;
  transition:0.75s;
}
.day{
  background-color: white;
}
.night{
  background-color: #0E0E0E;
}
