html {

  background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
}

.gu-mirror {
  position: fixed!important;
  margin: 0!important;
  z-index: 9999 !important;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFmQkEk30e0.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}

* {
  font-family: 'Muli';
}

.pad {
  padding-left: 0;
  padding-right: 0;


  background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
}

.bg {
  padding: 50px 0px;
  min-height: 1600px;



background: rgb(100%, 100%, 100%, 0);


}
.container-fluid .col-xs-2 div.box {
  text-align: center;
  margin: 10px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
  box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 6px 6px 28px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.field{
  background: linear-gradient(167.96deg, #262B2F 3.36%, #16191D 76.99%);
  border-radius: 40px;
}

.drag-1,
.drag-2,
.drag-3,
.drag-4 {
}

.form-control {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  border-radius: 0;
}
.gwe {
  border: none;
}
.btn {
  margin-top: 20px;
  border-radius: 0;
}
img {
  margin: 0 auto;
}
.header {
  padding-top: 5px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  top: 20px;
  color:#FFF;
}

.header img{
  height: 50px;
  width: 50px;
}

.white {
  top: 60px;
  text-align: center;
  background: linear-gradient(278.93deg, #23272B 14.36%, #17191C 94%);
  box-shadow: 19px 51px 148px rgba(2, 2, 2, 0.85);
  border-radius: 0px 40px 40px 0px;
  height: 500px;
}

input.toggle-round {
  display:none;
}

input.toggle-round + label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 17px;
  background: #5F5F5F;
  box-shadow: 1px 3px 7px -2px rgba(0, 178, 255, 0.2), inset 2px 2px 8px rgba(255, 255, 255, 0.6);
  border-radius: 30px;
}

input.toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
  top: 1px;
  width: 15px; height: 15px;
  background: #272B30;
  box-shadow: inset 0px -1px 1px #181A1D;
  border-radius: 100%;
  transition: margin 0.5s;
}

input.toggle-round:checked + label {
  background: #00B2FF;
  box-shadow: 1px 3px 7px -2px rgba(0, 178, 255, 0.2), inset 2px 2px 8px rgba(255, 255, 255, 0.6);
  border-radius: 30px;

}
input.toggle-round:checked + label:after {
  margin-left: 25px;
}

input + label span {
   line-height: 22px;
   font-size: 16px;
   top: 0px;
   left: 50px;
   color: var(--text, #fff);
   font-weight: 500;
   display: inline-block;
   vertical-align: top;
   z-index: 1;
   position: relative;
   margin-left: 12px;
   transition: color 0.4s;
}

input + label + span {
   text-align: center;
   display: block;
   position: absolute;
   left: 0px;
   right: 0;
   top: 100%;
   opacity: 0;
   font-size: 12px;
   font-weight: 500;
   color: #a6accd;
   transform: translateY(4px);
   transition: opacity 0.4s, transform 0.4s;
}

.white .form-control {
  margin-top: 0;
}

.white .input-label {
  margin-top: 30px;
  text-align: center;
}

.box{
  width: 300px;
  min-height: 100px;
  color: #FFF;
  background: linear-gradient(94.6deg, #32383E -60.81%, #17191C 185.78%);
  box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 6px 6px 28px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

li {
  color: #2081a1; /* Цвет маркеров */
  text-align: left;
  font-size: 0.9em;
  font-weight: bold;
}

li span {
  color: #D6E1EF; /* Цвет текста */
  font-size: 0.7em;
  font-weight: bold;
}

.inbox{
padding: 2px 25px 35px 25px;
}

.box .inbox .task-name {
  font-size: 1.3em;
  font-weight: bold;
  color: #D6E1EF
}

hr{
  border-color: #2081a1; 
  margin: 1px 1px;
}

a.button1{
  display: inline-block;
  outline: none;
  border: 2px ;
  width:100%;
  color: #D6E1EF;
  background: radial-gradient(51.95% 152.6% at 26.24% -102.6%, 
    rgba(47, 180, 233, 0.32) 0%, rgba(53, 149, 238, 0) 100%), 
    linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
  box-shadow: -4px -2px 16px rgba(195, 200, 205, 0.09), 4px 4px 18px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

a.button2{
  display: inline-block;
  outline: none;
  width:100%;
  color: #D6E1EF;
  border: 2px;
  background: radial-gradient(51.95% 152.6% at 26.24% -102.6%, #2FB4E9 0%, rgba(58, 184, 248, 0.317708) 68.23%, rgba(64, 186, 255, 0) 100%), linear-gradient(144.05deg, #32383E -69.07%, #17191C 122.22%);
  box-shadow: 0px 0px 18px 4px rgba(0, 194, 255, 0.2);
  border-radius: 16px;
}


.box .tasks {
  padding-bottom: 7px;
}

.box .tasks .task-name {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
.box .tasks .task-desc {
  font-size: 1.0em;
  color: #D6E1EF;
}

.box .tasks .task-deadline {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 0.8em;
  color: #D6E1EF;
}

.done div.box {
  pointer-events: none;
  background: #ddd !important;
}

.done div.box .tasks {
  color: #333 !important;
}

.move {
  text-align: center;
  background: #eee;
}

.move .btn {
  margin-bottom: 20px;
}

.checked {
  border: 3px solid #ddA500 !important;
}

input[type="checkbox"] {
  margin-left: 2%;
  border: #000;
  color: #fff;
  background: #fff;
  border-radius: none;
}


.accordion {
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: rgb(100%, 100%, 100%, 0);
}

.accordion-header {
  top: -20%;
  padding: 1.5em 1.5em;
  background: rgb(100%, 100%, 100%, 0);
  color: white;
  cursor: pointer;
  letter-spacing: .1em;
  transition: all .3s;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.accordion-header:hover {  
  background: rgb(100%, 100%, 100%, 0);
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: rgb(100%, 100%, 100%, 0);
  color: #353535;
  display: block;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: 1.5em;  
  color: #D6E1EF;
  width: 100%;
}

.accordion-body__contents.active {

  font-size: 1.5em;  
  color: #D6E1EF;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  background: url('arrow.png'); 
  background-size: 40px 40px; 
  width: 40px; height: 40px; 
  content:"";
  font-family: IonIcons;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -12px;
  right: -30px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: rgb(100%, 100%, 100%, 0);
}

.accordion__item .accordion__item .accordion-header {
  background: rgb(100%, 100%, 100%, 0);
  color: #353535;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  
  .accordion {
    width: 100%;
  }
}

.button{
  transition:0.75s;
  width:50px;
  height:50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius:10px;
  display:flex;
  margin:10px;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
.mover{
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  height: 72px;
  padding-top:10px;
  padding-bottom:10px;
  transition:0.75s;
}
.day{
  background-color: white;
}
.night{
  background-color: #0E0E0E;
}