<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> - </title>

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

  
  <link rel="stylesheet" href="./static/light.css" >
  <link rel="stylesheet" href="./static/dark.css" id="theme-link">
</head>

<body onload="onLoadFunction()"> 
<!-- partial:index.partial.html -->
<div class="container-fluid pad">

  <div class="col-xs-2 header" >
    <img src="ico0.png" alt="" />
    <nobr>Фильтры</nobr>
  </div>
   <div class="col-xs-1"></div>

  <div class="col-xs-2 header" >
    <img src="ico1.png" alt="" />
    <nobr>Вызовы</nobr>
  </div>
   <div class="col-xs-1"></div>

  <div class="col-xs-2 header" >
    <img src="ico2.png" alt="" />
    Гипотезы
  </div>
   <div class="col-xs-1"></div>

  <div class="col-xs-2 header"  >
    <img src="ico3.png" alt="" />
    Решения
  </div>
   <div class="col-xs-1"></div>

  <div class="col-xs-2 header" >
    <img src="ico4.png" alt="" />
    Тиражирование
  </div>
   <div class="col-xs-1"></div>

  <div class="col-xs-2 header"  >
    <img src="ico5.png" alt="" />
    Коммерциализация
  </div>
   <div class="col-xs-1"></div>
</div>



<div class="container-fluid pad">

  <div class="col-xs-2 white">

    
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id1" onchange="fun1()" accordion-id="#accordion" checked>
        <label for="id1">
           <span id="span-1">Описание</span>
        </label>
    </div>
    
        <hr class = "separator">
    
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id2" onchange="fun2()" accordion-id="#anyid" checked>
        <label for="id2">
           <span id="span-2"><nobr>Результаты</nobr></span>
        </label>
    </div>
    
        <hr class = "separator">
    
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id3" onchange="fun3()" accordion-id="#" checked>
        <label for="id3">
           <span id="span-3"><nobr>Роли</nobr></span>
        </label>
    </div>
    
        <hr class = "separator">
     
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id4" onchange="fun4()" accordion-id="#" checked>
        <label for="id4">
           <span id="span-4"><nobr>Шаблоны</nobr></span>
        </label>
    </div>
    
        <hr class = "separator">
    
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id5" onchange="fun5()" accordion-id="#" checked>
        <label for="id5">
           <span id="span-5"><nobr>Базы данных</nobr></span>
        </label>
    </div>
    
        <hr class = "separator">
    
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id6" onchange="fun6()" accordion-id="#" checked>
        <label for="id6">
           <span id="span-6"><nobr>Симплы</nobr></span>
        </label>
    </div>
    
        <hr class = "separator">
    
    <div class="neumorphism-toggle">
      <input class="toggle-round" type="checkbox" id="id7" onchange="fun7()" accordion-id="#" checked>
        <label for="id7">
           <span id="span-7"><nobr>Инструменты</nobr></span>
        </label>
    </div>

        <hr class = "separator">
        <br>

           <a href="#" class="button3"> <span>Сбросить все</span></a>         

                    
  <div class="button night" id="button" onclick="ChangeTheme()">
    <div class="mover" id="mover">
    </div>
  </div>
  </div>

<div class = field>

  {% for class_num in class_list %}

  <div class="col-xs-2 drag-5 bg" id="{{class_num}}">

    {% for n in class_list[class_num] %}
    
    <div class="box"> 

      <div class="inbox"> 
        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item">
            <div class="accordion-header js-accordion-header">{{n[0][0]}}</div>             
              <div class="accordion-body__contents-id1">
              
 
                {% for li in range( n[1]|length ) %}
              
                  <span class=''><li><span>{{ n[1][li] }}</span></li></span>

              
                {% endfor %}
 
            </div>
          </div>
        </div>
        
        

        <div class="accordion-body__contents-id2">
           <a href="#" class="button{{n[8]}} "><div class="inside_button{{n[8]}}"> <span>{{n[2][0]}}</span></div></a>         
        </div>
                                      

        {% if n[3][0]|length > 0 %}


        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item">
              <div class="accordion-body__contents-id3">
 
        <hr class = "separator">
        <br>

                <span>Роли</span>
                <br>

                <ul class="rol">  
                {% for li in range( n[3]|length ) %}
              
                  <span class=''><li><span>{{ n[3][li] }}</span></li></span>
                
                {% endfor %}

                </ul>
            </div>
          </div>
        </div>

        {% endif %}


        {% if n[4][0]|length > 0 %}

 

        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item">
              <div class="accordion-body__contents-id4">
               
        <hr class = "separator">
        <br>
                <span>Шаблоны</span>
                <br>

              
                {% for li in range( n[4]|length ) %}
              
                  <span class=''><li><span>{{ n[4][li] }}</span></li></span>
                
                  {% if not li == n[4]|length - 1 %}
                

               
                  {% endif %}
              
                {% endfor %}

            </div>
          </div>
        </div>

        {% endif %}


        {% if n[5][0]|length > 0 %}
 

        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item">
              <div class="accordion-body__contents-id5">
 
        <hr class = "separator">
        <br>
                <span>Базы данных</span>
                <br>

              <ul class="ide"> 
                {% for li in range( n[5]|length ) %}
              
                  <span class=''><li><span>{{ n[5][li] }}</span></li></span>
                            
                {% endfor %}
              </ul>

            </div>
          </div>
        </div>

        {% endif %}


        {% if n[6][0]|length > 0 %}

 
        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item"> 
              <div class="accordion-body__contents-id6">

        <hr class = "separator">
        <br>
                <span>Симплы</span>
                <br>
              
                {% for li in range( n[6]|length ) %}
              
                  <span class=''><li><span>{{ n[6][li] }}</span></li></span>
                
                  {% if not li == n[6]|length - 1 %}
                

               
                  {% endif %}
              
                {% endfor %}

            </div>
          </div>
        </div>

        {% endif %}


        {% if n[7][0]|length > 0 %}

        
        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item">
              <div class="accordion-body__contents-id7">
 
        <hr class = "separator">
        <br>

                <span>Инструменты</span>
                <br>
                <ul class= "ins">
                {% for li in range( n[7]|length ) %}
              
                  <span class=''><li><span>{{ n[7][li] }}</span></li></span>
                
                  {% if not li == n[7]|length - 1 %}
                

               
                  {% endif %}
              
                {% endfor %}
                </ul>

            </div>
          </div>
        </div>

        {% endif %}



        </div>  

 
    </div>

    {% endfor %}
  
  </div>
  
  {% endfor %}

</div>
</div>


<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script  src="./static/script.js"></script>


</body>
</html>
